<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ski Slope Form</title>
</head>
<body>

<form method="post"
      th:action="@{${slope == null ? '/ski-slopes' : '/ski-slopes/' + slope.id}}">
    <div>
        <label for="name">Slope Name</label>
        <input type="text" id="name" name="name"
               th:value="${slope != null} ? ${slope.name} : ''" required>
    </div>

    <div>
        <label for="length">Slope Length (in meters)</label>
        <input type="number" id="length" name="length"
               th:value="${slope != null} ? ${slope.length} : ''" required>
    </div>

    <div>
        <label for="difficulty">Slope Difficulty</label><br/>
        <select id="difficulty" name="difficulty" size="5" required>
            <option th:each="d : ${difficulties}"
                    th:value="${d}"
                    th:text="${d}"
                    th:selected="${slope != null and slope.difficulty == d}">
            </option>
        </select>
    </div>

    <div>
        <label for="skiResort">Ski Resort</label><br/>
        <select id="skiResort" name="skiResort" required size="5">
            <option th:each="sr : ${skiResorts}"
                    th:value="${sr.id}"
                    th:text="${sr.name}"
                    th:selected="${slope != null and slope.skiResort != null and slope.skiResort.id == sr.id}">
            </option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" th:href="@{/ski-slopes}" type="button">Back to Ski Slopes</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
